@font-face {
  font-family: "HPRegular";
  src: url("/static/assets/fonts/HPSimplified_Rg 3.ttf");
}

@font-face {
  font-family: "HPBold";
  src: url("/static/assets/fonts/HPSimplified_Bd.ttf");
}

@font-face {
  font-family: "HPThin";
  src: url("/static/assets/fonts/HPSimplified_Lt_2.ttf");
}

.material-icons {
  font-family: "Material Icons";
}
